:root {
  --theme-font-family-main: 'Roboto', sans-serif;
  --theme-font-family-alt: 'Montserrat', 'Roboto', sans-serif;

  --theme-color-primary: #468EFF;
  --theme-color-alt: #68FFC0;
  --theme-color-accent: #CC2845;

  --theme-color-text: white;
  --theme-color-text-inverse: black;

  --theme-color-bg-light: #c6e0eb;
  --theme-color-bg-medium: #295a8b;
  --theme-color-bg-dark: #1b3c5c;
  --theme-color-bg-darker: #101b2a;
  --theme-color-bg-darker-alpha: #101b2a80;

  --theme-color-bg-light: rgb(255 255 255 / 15%) !important;

  --theme-backdrop-filter-default: blur(18px);

  --theme-layout-x-padding: 24px;
}
