:root {
  --theme-font-family-main: 'Roboto', sans-serif;
  --theme-font-family-alt: 'Montserrat', 'Roboto', sans-serif;

  --theme-color-primary: #468EFF;
  --theme-color-alt: #68FFC0;

  --theme-color-text: white;
  --theme-color-text-inverse: black;

  --theme-color-bg-light: #32A2CB;
  --theme-color-bg-dark: #08131D;

  --theme-layout-x-padding: 24px;
}
