:root {
  --theme-font-family-main: 'Roboto', sans-serif;
  --theme-font-family-alt: 'Montserrat', 'Roboto', sans-serif;

  --theme-color-primary: #ffffff;
  --theme-color-alt: #2d2321;
  --theme-color-accent: #f8b700;
  --theme-color-accent-transparent: #f8b70060;

  --theme-color-text: white;
  --theme-color-text-inverse: black;

  --theme-color-bg-light: #eedad6;
  --theme-color-bg-medium-light: #453a38;
  --theme-color-bg-medium: #2c2524;
  --theme-color-bg-dark: #261f1c;
  --theme-color-bg-darker: #1d1918;
  --theme-color-bg-darkblue-backdrop: #19212d60;
  --theme-color-bg-darkblue: #19212d;
  --theme-color-bg-black: black;

  --theme-backdrop-filter-default: blur(18px);

  --theme-layout-x-padding: 24px;
}
