// Settings
@use './settings/fonts';
@use './settings/theme';

// Vuetify overrides
@use './overrides/vuetify/v-application';

// Ui
@use './ui/button';

// Utils
@use './utils/texts';
@use './utils/backgrounds';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  touch-action: manipulation;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: radial-gradient(circle, rgb(46, 143, 195) 20%, rgba(37, 73, 122, 1) 100%);
  background: radial-gradient(circle, rgb(49, 90, 149) 100%, rgb(49, 90, 149) 100%);
  background-color: var(--theme-color-bg-darker);
}

strong {
  @extend .u-text-lighted-alt;
}
