// Settings
@use './settings/fonts';
@use './settings/theme';

// Vuetify overrides
@use './overrides/vuetify/v-application';

// Ui
@use './ui/button';

// Utils
@use './utils/texts';
@use './utils/backgrounds';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  touch-action: manipulation;

  background: url('~/assets/img/app-bg.jpg') var(--theme-color-bg-darker);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

strong {
  @extend .u-text-lighted-alt;
}
