#app.v-application {
  color: var(--theme-color-text);
  font-family: var(--theme-font-family-main);
  background-color: transparent;

  
  .v-btn {
    
    &:hover {
      &::before {
        opacity: 0;
      }
    }
    
    &.v-btn--is-elevated {
      &.primary {
        background: var(--theme-color-accent) !important; 
        border-color: var(--theme-color-accent) !important;
        color: var(--theme-color-bg-dark) !important;
      }
    
      &.secondary {
        background: var(--theme-color-bg-medium-light) !important; 
        border-color: var(--theme-color-bg-medium-light) !important;
      }
      box-shadow: none;
    }

    &.v-btn--disabled.v-btn--has-bg {
      background: var(--theme-color-bg-light) !important;
    }
  }

  .v-btn:not(.v-btn--round).v-size--default {
    min-width: auto;
  }

  .theme--dark.v-card {
    background-color: var(--theme-color-bg-darker-alpha);
    backdrop-filter: var(--theme-backdrop-filter-default);
  }

  .v-dialog>.v-card>.v-card__actions {
    padding: 24px 24px 20px;
  }
}



