// Settings
@use './settings/fonts';
@use './settings/theme';

// Vuetify overrides
@use './overrides/vuetify/v-slider';

// Ui
@use './ui/button';

body {
  margin: 0;
  padding: 0;
}

strong {
  color: var(--theme-color-primary);
}

.v-application {
  font-family: 'Cronos Pro', sans-serif;
}
